# MySQL plugin
{% if ansible_facts.mysql is defined and ansible_facts.mysql|length>0 %}
vars.mysql_enabled = true
vars.mysql_host = "{{ icinga2_mysql_monitoring_host }}"
vars.mysql_port = "{{ icinga2_mysql_monitoring_port }}"
vars.mysql_username = "{{ icinga2_mysql_monitoring_user }}"
vars.mysql_password = "{{ icinga2_mysql_monitoring_password }}"

{% if icinga2_mysql_slave is defined and icinga2_mysql_slave %}
vars.mysql_slave_enabled = true
vars.mysql_health_host = "{{ icinga2_mysql_monitoring_host }}"
vars.mysql_health_port = "{{ icinga2_mysql_monitoring_port }}"
vars.mysql_health_username = "{{ icinga2_mysql_monitoring_user }}"
vars.mysql_health_password = "{{ icinga2_mysql_monitoring_password }}"
{% endif %}
{% endif %}
# EO MySQL plugin
