# openstack_cinder-services plugin
{% if force_plugin_openstack_compute_services is defined and force_plugin_openstack_compute_services %}
vars.cinder = true
{% endif %}
# EOF openstack_cinder-services plugin
