# RBL plugin
{% if ansible_facts.all_ipv4_addresses is defined and ansible_facts.all_ipv4_addresses|length>0 %}
{% for ip in ansible_facts.all_ipv4_addresses|ansible.netcommon.ipaddr('public') %}
vars.rbl_hostnames["RBL check for {{ ip }}"] = {
  rbl_hostname = "{{ ip }}"
  rbl_server = ["sbl.spamhaus.org", "xbl.spamhaus.org", "zen.spamhaus.org", "dun.dnsrbl.net", "bl.spamcop.net"]
}
{% endfor %}
{% endif %}
# EOF RBL plugin
