# Users plugin
vars.procs_enabled = true

vars.total_procs_warning = {{ icinga2_plugin_procs_total_warning }}
vars.total_procs_critical = {{ icinga2_plugin_procs_total_critical }}

vars.zombie_procs_warning = {{ icinga2_plugin_procs_zombie_warning }}
vars.zombie_procs_critical = {{ icinga2_plugin_procs_zombie_critical }}
# EOF Users plugin
