# openstack_compute-services plugin
{% if force_plugin_openstack_compute_services is defined and force_plugin_openstack_compute_services %}
vars.compute = true
{% endif %}
# EOF openstack_compute-services plugin
