# openstack_compute-services plugin
{% if force_enable_plugin_openstack_compute_services is defined and force_enable_plugin_openstack_compute_services %}
vars.compute = true
{% endif %}
# EOF openstack_compute-services plugin
