object CheckCommand "iostat_custom" {
        command = [ PluginContribDir + "/check_iostat" ]

        arguments = {
                "-d" = {
                        value = "$iostat_disk$"
                        description = "Device to check without path. e.g. sda"
                }
                "-w" = {
                        value ="$iostat_wtps$,$iostat_wread$,$iostat_wwrite$"
                        description = "warning threshold for tps, KB_read/s and KB_written/s"
                }
                "-c" = {
                        value ="$iostat_ctps$,$iostat_cread$,$iostat_cwrite$"
                        description = "warning threshold for tps, KB_read/s and KB_written/s"
                }
        }

        vars.iostat_disk = "sda"
        vars.iostat_wtps = 100
        vars.iostat_wread = 100
        vars.iostat_wwrite = 100
        vars.iostat_ctps = 200
        vars.iostat_cread = 200
        vars.iostat_cwrite = 200
}
