# IPMI plugin

vars.ipmi_address = "{{ ipmi_ip_address }}"
vars.ipmi_username = "{{ icinga2_plugin_ipmi_username }}"
vars.ipmi_password = "{{ icinga2_plugin_ipmi_password }}"
vars.ipmi_privilege_level = "User"

vars.ipmi_exclude_sensor_id = "{{ icinga2_plugin_ipmi_exclude_sensor_id }}"

# EOF IPMI plugin
