# openstack_network-services plugin
{% if force_plugin_openstack_network_services is defined and force_plugin_openstack_network_services %}
vars.network = true
{% endif %}
# EOF openstack_network-services plugin
